<div id="post-<%= post.id %>" class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <p><%= post.user.name %></p>
    <%= simple_format(post.body) %>
  </div>
  <div class="card-actions">
    <%= "#{post.like_count} 応援" %>
    <% if post.user == current_user %>
      <%= link_to '編集', edit_post_path(post), class: "btn" %>
    <% else %>
      <%= render 'likes/like', post: post %>
    <% end %>
  </div>
</div>
