<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>Holiday Checkin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="m-2 mt-5">
        <%= render "layouts/flash_message" %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
  
  <footer>
    <% if user_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>
  </footer>
</html>
